# Data Cleaning - Dados de Políticos

![](https://www.oeco.org.br/wp-content/uploads/oeco-migration/images/stories/dez2013/tatu-peba.jpg)

## Important Info

df = dataframe

std = desvio padrão / standard deviation

mean = média



strftime = String Format Time

strptime = String Parse Time

df.to_csv('dados_limpos.csv', encoding='latin1', index=False, sep=';')

data visualization BR = Estadão e Nexus Journey

https://flatuicolors.com/palette/au

https://seaborn.pydata.org/tutorial/color_palettes.html

http://python-graph-gallery.com/scatter-plot/

https://medium.com/@kennelliott/39-studies-about-human-perception-in-30-minutes-4728f9e31a73

https://plot.ly/

https://datavizproject.com/

In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('ceaps_dataset.csv', skiprows=1, delimiter=';', encoding = 'latin1')
df.head()

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO
0,2016,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ELETROBRÁS DISTRIBUIÇÃO RONDÔNIA,000011328,13/01/2016,Despesa com pagamento de energia elétrica para...,"73,6"
1,2016,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ELETROBRÁS DISTRIBUIÇÃO RONDÔNIA,000011327,18/01/2016,Pagamento de energia elétrica para o escritóri...,"206,84"
2,2016,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,001/16,04/01/2016,"Despesa com pagamento de aluguel, utilizado pa...",6000
3,2016,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.423.963/0001-11,OI MÓVEL S.A.,661639001,16/01/2016,despesa com pagamento de telefonia para o escr...,"407,48"
4,2016,1,ACIR GURGACZ,Aquisição de material de consumo para uso no e...,62.652.961/0001-38,AGÊNCIA ESTADO S.A.,00608918,06/01/2016,Aquisição de publicação virtual de conteúdo jo...,550

In [7]:
df.tail(10)

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO
26681,2016,12,ZEZÉ PERRELLA,"Locomoção, hospedagem, alimentação, combustíve...",08.571.099/0001-93,Posto Raja F R Ltda - ME,250557,07/12/2016,NaN,"239,93"
26682,2016,12,ZEZÉ PERRELLA,"Locomoção, hospedagem, alimentação, combustíve...",08.100.916/0001-25,Posto Roda D' Agua Ltda,150968,25/12/2016,NaN,"222,58"
26683,2016,12,ZEZÉ PERRELLA,"Locomoção, hospedagem, alimentação, combustíve...",21.981.287/0001-58,Posto Urbano Ferraz Ltda,044920,14/12/2016,NaN,100
26684,2016,12,ZEZÉ PERRELLA,"Locomoção, hospedagem, alimentação, combustíve...",33.469.172/0006-72,Serviço Nacional de Aprendizagem Comercial SENAC,143880,14/12/2016,NaN,"23,04"
26685,2016,12,ZEZÉ PERRELLA,"Locomoção, hospedagem, alimentação, combustíve...",01.245.727/0001-00,Trevo Posto de Serviços Ltda,450516,12/12/2016,NaN,100
26686,2016,12,ZEZÉ PERRELLA,"Locomoção, hospedagem, alimentação, combustíve...",01.245.727/0001-00,Trevo Posto de Serviços Ltda,083555,23/12/2016,NaN,"183,4"
26687,2016,12,ZEZÉ PERRELLA,"Locomoção, hospedagem, alimentação, combustíve...",01.245.727/0001-00,Trevo Posto de Serviços Ltda,084787,26/12/2016,NaN,50
26688,2016,12,ZEZÉ PERRELLA,"Passagens aéreas, aquáticas e terrestres nacio...",09.296.295/0001-60,Azul,QGIJ8X,07/12/2016,"Companhia Aérea: AZUL, Localizador: QGIJ8X. Pa...","1055,41"
26689,2016,12,ZEZÉ PERRELLA,"Passagens aéreas, aquáticas e terrestres nacio...",21.443.582/0001-50,Pronto Produção de Eventos e Turismo Ltda,S6ZB6L,12/12/2016,"Companhia Aérea: AZUL, Localizador: S6ZB6L. Pa...","390,18"
26690,2016,12,ZEZÉ PERRELLA,"Passagens aéreas, aquáticas e terrestres nacio...",21.443.582/0001-50,Pronto Produção de Eventos e Turismo Ltda,ZDS6KY,12/12/2016,"Companhia Aérea: GOL, Localizador: ZDS6KY. Pas...","654,28"

In [45]:
df.dtypes

ANO                           int64
MES                           int64
SENADOR                      object
TIPO_DESPESA                 object
CNPJ_CPF                     object
FORNECEDOR                   object
DOCUMENTO                    object
DATA                 datetime64[ns]
DETALHAMENTO                 object
VALOR_REEMBOLSADO           float64
dtype: object

In [27]:
df.describe()

           ANO           MES  VALOR_REEMBOLSADO
count  26691.0  26691.000000       26691.000000
mean    2016.0      6.470908         947.484513
std        0.0      3.257134        2733.820037
min     2016.0      1.000000           0.010000
25%     2016.0      4.000000         124.000000
50%     2016.0      6.000000         324.790000
75%     2016.0      9.000000         956.865000
max     2016.0     12.000000      256980.000000

In [17]:
df.head()

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO
0,2016,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ELETROBRÁS DISTRIBUIÇÃO RONDÔNIA,000011328,13/01/2016,Despesa com pagamento de energia elétrica para...,"73,6"
1,2016,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ELETROBRÁS DISTRIBUIÇÃO RONDÔNIA,000011327,18/01/2016,Pagamento de energia elétrica para o escritóri...,"206,84"
2,2016,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,001/16,04/01/2016,"Despesa com pagamento de aluguel, utilizado pa...",6000
3,2016,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.423.963/0001-11,OI MÓVEL S.A.,661639001,16/01/2016,despesa com pagamento de telefonia para o escr...,"407,48"
4,2016,1,ACIR GURGACZ,Aquisição de material de consumo para uso no e...,62.652.961/0001-38,AGÊNCIA ESTADO S.A.,00608918,06/01/2016,Aquisição de publicação virtual de conteúdo jo...,550

In [24]:
df['VALOR_REEMBOLSADO'] = df['VALOR_REEMBOLSADO'].str.replace(',', '.')
df["VALOR_REEMBOLSADO"] = pd.to_numeric(df["VALOR_REEMBOLSADO"])

In [42]:
df["DATA"] = pd.to_datetime(df['DATA'], errors='coerce')

In [32]:
df[df['DATA']=='20/07/5017']

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO
2194,2016,10,ARMANDO MONTEIRO,"Aluguel de imóveis para escritório político, c...",41.054.867/0001-07,Jadan Office Center,1101610021,20/07/5017,"Taxa de condomínio do escritório parlamentar, ...",811.89

In [41]:
df['DATA'] = df['DATA'].str.replace('20/07/5017', '20/07/2017')
df['DATA'] = df['DATA'].str.replace('02/04/3016', '02/04/2016')
df['DATA'] = df['DATA'].str.replace('04/04/216', '04/04/2016')

In [44]:
df.dropna(subset=['DATA'], inplace=True)

In [68]:
df['DIA'] = df['DATA'].dt.day

In [55]:
df.head()

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,DIA
0,2016,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ELETROBRÁS DISTRIBUIÇÃO RONDÔNIA,000011328,2016-01-13,Despesa com pagamento de energia elétrica para...,73.60,13
1,2016,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ELETROBRÁS DISTRIBUIÇÃO RONDÔNIA,000011327,2016-01-18,Pagamento de energia elétrica para o escritóri...,206.84,18
2,2016,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,001/16,2016-04-01,"Despesa com pagamento de aluguel, utilizado pa...",6000.00,1
3,2016,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.423.963/0001-11,OI MÓVEL S.A.,661639001,2016-01-16,despesa com pagamento de telefonia para o escr...,407.48,16
4,2016,1,ACIR GURGACZ,Aquisição de material de consumo para uso no e...,62.652.961/0001-38,AGÊNCIA ESTADO S.A.,00608918,2016-06-01,Aquisição de publicação virtual de conteúdo jo...,550.00,1

In [65]:
df['TIPO_DESPESA'].unique()

array(['Aluguel', 'Aquisição de Material', 'Contratações', 'Logística',
       'Passagens', 'Divulgações', 'Segurança'], dtype=object)

In [62]:
mapper = {'Aluguel de imóveis para escritório político, compreendendo despesas concernentes a eles.': 'Aluguel', 
         'Aquisição de material de consumo para uso no escritório político, inclusive aquisição ou locação de software, despesas postais, aquisição de publicações, locação de móveis e de equipamentos. ': 'Aquisição de Material',
         'Contratação de consultorias, assessorias, pesquisas, trabalhos técnicos e outros serviços de apoio ao exercício do mandato parlamentar': 'Contratações',
          'Locomoção, hospedagem, alimentação, combustíveis e lubrificantes': 'Logística',
         'Passagens aéreas, aquáticas e terrestres nacionais': 'Passagens',
         'Divulgação da atividade parlamentar': 'Divulgações',
         'Serviços de Segurança Privada': 'Segurança'}
df['TIPO_DESPESA'] = df['TIPO_DESPESA'].map(mapper)

In [64]:
df[df['TIPO_DESPESA'].isnull()]

Empty DataFrame
Columns: [ANO, MES, SENADOR, TIPO_DESPESA, CNPJ_CPF, FORNECEDOR, DOCUMENTO, DATA, DETALHAMENTO, VALOR_REEMBOLSADO, DIA]
Index: []

In [66]:
df.head()

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,DIA
0,2016,1,ACIR GURGACZ,Aluguel,05.914.650/0001-66,ELETROBRÁS DISTRIBUIÇÃO RONDÔNIA,000011328,2016-01-13,Despesa com pagamento de energia elétrica para...,73.60,13
1,2016,1,ACIR GURGACZ,Aluguel,05.914.650/0001-66,ELETROBRÁS DISTRIBUIÇÃO RONDÔNIA,000011327,2016-01-18,Pagamento de energia elétrica para o escritóri...,206.84,18
2,2016,1,ACIR GURGACZ,Aluguel,004.948.028-63,GILBERTO PISELO DO NASCIMENTO,001/16,2016-04-01,"Despesa com pagamento de aluguel, utilizado pa...",6000.00,1
3,2016,1,ACIR GURGACZ,Aluguel,05.423.963/0001-11,OI MÓVEL S.A.,661639001,2016-01-16,despesa com pagamento de telefonia para o escr...,407.48,16
4,2016,1,ACIR GURGACZ,Aquisição de Material,62.652.961/0001-38,AGÊNCIA ESTADO S.A.,00608918,2016-06-01,Aquisição de publicação virtual de conteúdo jo...,550.00,1

In [75]:
df['DATA'].dt.strftime('%Y-%m')

0        2016-01
1        2016-01
2        2016-04
3        2016-01
4        2016-06
5        2016-01
6        2016-01
7        2016-01
8        2016-01
9        2016-01
10       2016-01
11       2016-08
12       2016-01
13       2016-01
14       2016-02
15       2016-02
16       2016-03
17       2016-06
18       2016-02
19       2016-02
20       2016-11
21       2016-02
22       2016-02
23       2016-02
24       2016-02
25       2016-01
26       2016-02
27       2016-02
28       2016-02
29       2016-08
          ...
26661    2016-12
26662    2016-10
26663    2016-12
26664    2016-05
26665    2016-09
26666    2016-10
26667    2016-12
26668    2016-12
26669    2016-12
26670    2016-12
26671    2016-06
26672    2016-09
26673    2016-12
26674    2016-12
26675    2016-12
26676    2016-09
26677    2016-12
26678    2016-12
26679    2016-12
26680    2016-05
26681    2016-07
26682    2016-12
26683    2016-12
26684    2016-12
26685    2016-12
26686    2016-12
26687    2016-12
26688    2016-07
26689    2016-12
26690    2016-12
Name: DATA, Length: 26688, dtype: object

In [78]:
df = df.filter(['ANO', 'MES', 'DIA', 'SENADOR', 'TIPO_DESPESA', 'CNPJ_CPF', 'FORNECEDOR', 'DOCUMENTO', 'DATA', 'DETALHAMENTO', 'VALOR_REEMBOLSADO'])

In [80]:
df.head()

,ANO,MES,DIA,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO
0,2016,1,13,ACIR GURGACZ,Aluguel,05.914.650/0001-66,ELETROBRÁS DISTRIBUIÇÃO RONDÔNIA,000011328,2016-01-13,Despesa com pagamento de energia elétrica para...,73.60
1,2016,1,18,ACIR GURGACZ,Aluguel,05.914.650/0001-66,ELETROBRÁS DISTRIBUIÇÃO RONDÔNIA,000011327,2016-01-18,Pagamento de energia elétrica para o escritóri...,206.84
2,2016,1,1,ACIR GURGACZ,Aluguel,004.948.028-63,GILBERTO PISELO DO NASCIMENTO,001/16,2016-04-01,"Despesa com pagamento de aluguel, utilizado pa...",6000.00
3,2016,1,16,ACIR GURGACZ,Aluguel,05.423.963/0001-11,OI MÓVEL S.A.,661639001,2016-01-16,despesa com pagamento de telefonia para o escr...,407.48
4,2016,1,1,ACIR GURGACZ,Aquisição de Material,62.652.961/0001-38,AGÊNCIA ESTADO S.A.,00608918,2016-06-01,Aquisição de publicação virtual de conteúdo jo...,550.00

In [82]:
df.to_csv('dados_limpos.csv', encoding='latin1', index=False)